body{
    height: 1000px;
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: fixed;
    
}
.img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    object-fit: cover;
}
.para{
    font-size: 20px;
    font-weight: bold;
}
.a{
    margin-left: 90px;
    margin-top: 9px;
}
.b{
    margin-left: 10px;
    margin-right: 800px;
}
.f{
    height: 35px;
    width: 106px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color: rgb(24, 119, 242);
    border: none;
    border-radius: 5px;
    
}
.c{
    margin-right: 10px;
    
}
.m{
    height: 35px;
    width: 106px;
    font-size: 15px;
    background-color: rgb(230, 230, 230);
    border: none;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
}
