.srh{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    width: 70px;
    border-color: rgba(243, 234, 234, 0.884);
    border-width: 1px;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 10%;
    padding-top: 11px;
    padding-bottom: 11px;
    height: 30px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 100px;
}
.google{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    width: 400px;
    border: none;
    box-shadow: 2px 2px 11px 1px #e4d9d9;
    border-width: 1px;
    border-radius: 120px;
    padding-left: 1%;
    padding-right: 10%;
    padding-top: 11px;
    padding-bottom: 11px;
    height: 20px;
    display: inline-block;
}

p {
    font-family: Arial;
    color: rgb(100, 100, 100);
    margin-top: 50px;
    margin-bottom: 0;
  }
  
  .label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 16px;
    width: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(139, 132, 132);
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .disclaimer {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .join-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    font-size: 20px;
    width: 400px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 30px;
    margin-right: 150px;
  }
  .profile-picture {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    vertical-align: middle;
    margin-right: 5px;
  }
  
  .text-box {
    font-size: 18px;
    border: none;
    width: 300px;
    vertical-align: middle;
  }
  
  .tweet-button {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
  }
  .para{
    color: black;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    margin-top: 5px;
   font-weight: 800;
   display: inline-block;
   width: 350px;
   vertical-align: middle;
   margin-right: 5px;
   
    

  }
  button{
    font-size: 18px;
    vertical-align: middle;
  }
  
 
    
   
