.a{
    height: 200px;
    width: 200px;
     border-radius: 50%;
     border: 20px solid #ffe66d;
     border-top: 20px solid #4ecdc4;
     animation: circleanimation 3s ease-in 0s infinite normal;
}
@keyframes circleanimation{
    from{
        transform : rotate(0deg);
    }
    to{
        transform : rotate(360deg);
    }
}