p{
    font-size: 40px;
    color: black;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 27px;
    margin-top: 10px;

}
.pick{
    border: none;
    background-color: #f0f0f0;
    width: 375px;
    padding-top: 19px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 15px;
    display: block;
    margin-bottom: 10px;

}
.des{
    border: none;
    background-color: #f0f0f0;
    width: 375px;
    padding-top: 19px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 15px;
    display: block;
    margin-bottom: 37px;


}
.re{
    width: 150px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 16px;
    margin-right: 18px;

}
.sc{
    width: 180px;
    height: 50px;
    background-color: #f0f0f0;
    color: black;
    font-size: 16px;
    border: none;
    vertical-align: top;
}