.a{
    height: 50px;
    width: 50px;
    background-color: blueviolet;
}
@media(max-width:300px){
    .a{
        background-color: green;
    }
}

@media(min-width:300px) and (max-width:400px){
    .a{
        background-color: pink;
    }
}
@media(min-width:400px) and (max-width:600px){
    .a{
        background-color: red;
    }
}
@media(min-width:600px){
    .a{
        background-color: blue;
    }
}
