body{
    height:3000px
}
.a{
    background-color: black;
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: Arial;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.b{
    height: 180px;
    width: 320px;
    position: fixed;
    background-color: grey;
    bottom: 15px;
    right: 15px;
}
.c{
    background-color: black;
    color: white;
    position: absolute;
    font-family: Arial;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -15px;
    top: -20px;
   
}
.d{
    height: 180px;
    width: 320px;
    position: fixed;
    background-color: grey;
    bottom: 15px;
    left: 30px;
}
.e{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    height: 26px;
    font-family: Arial, Helvetica, sans-serif;
}