button{
    height: 50px;
    width: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: rgb(41,118,211);
    color:white;
    border-radius: 30px;
    border: 0;


}