h1{
    text-align: center;
    text-transform: capitalize;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#outer{
   font-size: 25px;
}
#inner{
    font-size: 10px;
}