.request{
    background-color: black;
    color: white;
    font-size: 18px;
    border: none;
    padding: 18px;
    height: 5%;
    width: 12%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 200;
    opacity: 0.8;
    margin-bottom: 60px;
}
.amazon{
    border: none;
    background-color:rgb(255, 216, 20);
    color: black;
    height: 45px;
    width: 235px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.7;
    border-radius: 50px;
    margin-left: 40px;

}
.link{
    background-color: rgb(10,102,194);
    color: white;
    height: 55px;
    width: 350px;
    opacity: 0.81;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 1px;
    cursor: pointer;
    transition: 1s;
    


}
.save{
    background-color: white;
    color: rgb(10,102,194);
    opacity: 0.81;
    border-color: rgb(10,102,194);
    border-width: 2px;
    height: 53px;
    width: 119px;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 17px;
    border-radius: 50px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    cursor: pointer;
    transition: 0.5s;
 
    
}
.link:hover{
   opacity: 1;
}
.save:hover{
    color:  rgb(10,102,194);
    
    border-width: 3px;
    background-color: rgb(240,240,240,0.8);
}

