.a{
    height: 150px;
    width:150px;
    background-color: yellow;
    color: darkblue;
    /*font-size: 30px;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;*/
    transition: all 3s ease-in-out 1s;

}
.a:hover{
    background-color: aqua;
    font-size: 35px;
    width: 200px;
}
.a:active{
    background-color: pink;
    font-size: 25px;
    width: 130px;
}