.yt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    width: 26%;
    margin-bottom: 1px;

}
.sample{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 5px;
    font-size: 20px;
    color: rgb(96,96,96);
    margin-bottom: 4px;
   
}
.name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: rgb(96,96,96);
    margin-top: 21px;
    margin-bottom: 3px;

}
.para{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: rgb(96,96,96);
    margin-top: 21px;
    width:370px;
    line-height: 26px;
}